.jumbotron {
  text-align: center;
  background-color: #2d3645;
  color: lightgrey;
  font-family: "Arial Black";
}

#user-info {
  display:none;
}

.question-header {
  text-align: left;
  font-weight: bold;
}

img {
  width: 300px;
  height: 250px;
}

#results {
  display: none;
}

.card {
  font-weight: bold;
}

#ruby-card {
  display:none;
}

#java-card {
  display:none;
}

#javascript-card {
  display: none;
}

#python-card {
  display: none;
}