.jumbotron {
  text-align: center;
  background-color: #2d3645;
  color: lightgrey;
  font-family: "Arial Black";
}

#user-info {
  display:none;
}

#question1-header {
  text-align: left;
  font-weight: bold;
}